<% include partials/header %>

<title><%=table%>, <%=hashType%>=<%=objectId%></title>

<div class="container">
  <div class="jumbotron light" style="background-size: cover; background-image: url(https://bungie.net<%= item.pgcrImage %>);">
  <h1><img src="https://bungie.net<%=item.icon%>" style="height: 0.8em;position: relative; bottom: 0.05em;">&nbsp;<%=item.activityName%></h1>
  <p><%=item.activityDescription%></p>
  </div> <!-- jumbotron -->

  <% include partials/dataDump %>

</div> <!-- container -->

<% include partials/footer %>